    body {
       /* background-color: rgba(209, 61, 61, 0.781);*/
        font-style: normal,;
        }
    
     .texto{
        font-family: Arial, Helvetica, sans-serif;
        position:absolute;
        color:black;
        text-align: center;
        top: 50px;
        width: 1400px;
        line-height: 30px;
        height: 50px;
     }
     #imagem{
        width: auto;
        height: auto;   
        }
    .footer{
    position:relative;
    bottom:0;
    width:100%;
    color: black;
    text-align: center;
    font-style: italic;
     }
    